<script src="/dist/bundle.js"></script>

<template id="app-issue-currency-template">
  <link rel="stylesheet" href="../style.css">
  <div class="widget hidden">
    <label>Issue Currency</label><br>
    <label class="small">currency</label>
    <select>
      <option value="GBP">GBP</option>
      <option value="USD">USD</option>
    </select>
    <label class="small">amount</label>
    <input type=number value="100">
    <button id='btn_issue'>Issue</button>
  </div>
  <style>
    .small {
      font-size: 18px;
    }
  </style>
</template>

<script>
  (function() {
    class AppIssueCurrency extends SimpleComponent {
      constructor() {
        super('app-issue-currency-template');
      }

      connectedCallback() {
        const thisObj = this;
        const bt = this.$('#btn_issue');
        bt.onclick = () => { thisObj._issue() }
      }

      disconnectedCallback() {
        const bt = this.$('#btn_issue');
        bt.onclick = null;
      }

      setConnection(connection) {
        this._connection = connection;
        if (connection !== null) {
          this.$('.widget').classList.remove('hidden');
        } else {
          this.$('.widget').classList.add('hidden');
        }
      }
    }

    window.customElements.define('app-issue-currency', AppIssueCurrency);
  })();
</script>
