header 
  background #1973E2 url("png/header.png") no-repeat 20px 5px
  color rgba(255, 255, 255, 0.9)
  height 60px
  margin-bottom 2px
  position relative

  span 
    margin-left 150px
    font-family Courier New, Courier, monospace
    font-size 30px
    letter-spacing 2px
    position absolute
    top 50%
    transform translateY(-50%)


