.services-list
  background #1973E2
  color rgba(255, 255, 255, 0.9)
  float left
  font-family Courier New, Courier, monospace
  font-size 20px
  height 100%
  margin 0 5px 5px 0
  min-width 100px

  ul
    margin 0
    padding 0
    text-align center
    
    li
      border-bottom 2px solid rgba(255, 255, 255, 0.9)
      list-style none
      padding 7px 10px
      cursor pointer