<script src="/dist/bundle.js"></script>

<template id="app-connection-template">
  <link rel="stylesheet" href="../style.css">
  <div class="widget">
    <label>Server</label> &nbsp;
    <select id="endpoint">
      <option value="https://localhost:8080/api/jsonrpc">bank a</option>
      <option value="https://localhost:8081/api/jsonrpc">bank b</option>
    </select>
    <button id='endpoint-connect'>Connect</button>
    <span id='status'></span>
  </div>
  <style>
    #status {
      font-size: 15px;
    }
  </style>
</template>

<script>
  (function() {
    class AppConnection extends SimpleComponent {
      constructor() {
        super('app-connection-template');
      }

      connectedCallback() {
        const thisObj = this;
        const bt = super.$('#endpoint-connect');
        bt.onclick = () => { thisObj._onConnect() }
      }

      disconnectedCallback() {
        const bt = this.$('#endpoint-connect');
        bt.onclick = null;
      }

      _onConnect() {
        const thisObj = this;
        const option = this._getEndPoint();
        const url = option.value;
        const name = option.innerText
        this.dispatchEvent(new CustomEvent('connect', {
          detail: {
            url: url,
            name: name
          }
        }));
      }

      _getEndPoint() {
        const selector = this.$('#endpoint')
        return selector.options[selector.selectedIndex];
      }

      onConnect(fn) {
        this.addEventListener('connect', fn);
      }

      status(msg) {
        $('#status').innerText = msg;
      }
    }

    window.customElements.define('app-connection', AppConnection);
  })();

</script>