.app-component
  background rgba(1, 1, 1, 0.8)
  border-radius 3px
  color rgba(255, 255, 255, 0.8)
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size 12px
  font-weight 200
  margin auto
  padding 20px 0
  text-align center
  width 400px

  h1
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size 36px
    font-weight 200
  