html, body, main 
    height 100%
  
  body 
    margin 0
    overflow hidden
    padding 0

  #container 
    border 1px solid grey
    display table
    height 100%
    margin 0px 10px 10px 0px
    padding 0
    width 100%
  

  #services 
    background-color #af8b46
    color white
    border none
    cursor pointer
    font-size 16px
    padding 16px
    width 200px
  
