.todo-item-component
  border 1px solid rgba(255,255,255, 1)
  border-bottom none
  height 40px
  position relative

  &:hover button
      display inline-block
  
  &:last-child
    border-bottom 2px solid rgba(255, 255, 255, 1);

  input[type=checkbox]
    position absolute
    left 10px
    top 10px

  span 
    border 0px solid transparent
    border-left 2px solid #FFF
    font-size 18px
    left 40px
    position absolute
    right 35px
    top 8px

    

  button
    background none 
    border none
    color #F00
    display none
    float right
    font-size 20px
    padding 0
    padding-right 10px
    padding-top 5px
  
